:root {
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --border-radius: 20px;
  --background1: #17181a;
  --background2: #202123;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

#body2 {
  margin: 0;
  display: flex;
  background-color: var(--background1);
  color: var(--color-dark);
}

h2 {
  font-size: 45px;
}

p {
  font-size: 21px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background2);
  height: 100vh;
  width: 225px;
  box-shadow: 0px 0px 5px 5px var(--box-shadow-color);
}

#logoBox {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 65px;
}

#links {
  display: flex;
}

#main {
  padding: 45px 45px 0px 45px;
  display: flex;
  gap: 45px;
  flex: 1;
}

#left,
#right {
  width: 100%;
}

.box {
  padding: 30px 40px;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 5px var(--box-shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 45px;
  background-color: var(--background2);
}

.box h2 {
  margin-bottom: 15px;
}

#hello span {
  color: green;
}

#topUserBar {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin-bottom: 45px;
  width: default;
}

#settings,
#bell {
  height: 40px;
  padding: 5px;
  border-radius: 10px;
}

#settings:hover,
#bell:hover {
  background-color: #1a1a1a;
}

#usernameBox {
  border: 1px solid;
  border-radius: 10px;
  padding: 5px 10px;
}

#currentReads a {
  color: white;
  text-decoration: none;
  font-weight: var(--font-weight-medium);
}

#currentReads a:hover {
  text-decoration: underline;
}

#streak h2 {
  display: flex;
  align-items: center;
}

#streak h2 span {
  color: orangered;
}

#streak h2 img {
  height: 50px;
}

#streak p span {
  color: orangered;
}

#streakBox {
  margin-top: 25px;
  display: flex;
  border-radius: var(--border-radius);
  background-color: var(--background1);
}

#streakList {
  text-align: center;
}

.dayBox {
  padding: 10px 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.read {
  background-color: rgba(0, 128, 0, 0.5);
  border: solid green;
}

.didntread {
  background-color: rgba(255, 0, 0, 0.5);
  border: solid red;
}

.currDay {
  background-color: rgba(255, 217, 0, 0.5);
  border: solid gold;
}

.firstDay {
  border-radius: 20px 0px 0px 20px
}

.lastDay {
  border-radius: 0px 20px 20px 0px;
}

#taskBox {
  margin: 0;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* Light Mode Media Query */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-dark);
    background-color: var(--background-light);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}